.header__title {
    margin: 0;
    padding: 0;
    z-index: 4;
    margin-left: 64px;
    width: 730px;
    font-weight: 600;
    font-size: 102px;
    line-height: 96px;
    align-self: center;
    color: #000000;
}